{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Filters</title>
</head>
<body>

    <h2> It Reverse a String</h2>
    <p>Original: {{string}}</p>
    <p>Reversed: "{{ string|reverse_string }}"</p>

    <h2>It multiplies by 3</h2>
    <p>Original: {{number}}</p>
    <p>Multiplied: {{ number|multiply:3 }}</p>

    <br>
    <br>
        {% for student in students%}
        <ul>
            <li>{{ student.name }}</li>
            <li>{{ student.date_birth}}</li>
            <li>{{ student.address }}</li>
        </ul>
        {% endfor %}
</body>
</html>